.footer-container {
  position: relative;
  left: 0;
  width: 100%;
  top: 30px;
  display: flex;
  background: rgb(176, 191, 182);
  background: linear-gradient(
    90deg,
    rgba(102, 153, 121, 1) 0%,
    rgba(100, 153, 120, 1) 51%,
    rgba(102, 153, 121, 1) 100%
  );
  border: solid #857272 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.col {
  flex: 1;
  align-items: center;
}
p {
  color: white;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}
h6 {
  color: black;
  font-size: 15px;
  font-weight: 500;
}
