.body-container {
  position: relative;
  text-align: center;
  align-items: center;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 350px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border: solid #857272 0;
  background: #f8f8f8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.carousel {
  background-color: rgba(226, 242, 243, 0.63);
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
}

h3 {
  color: rgb(8, 8, 8);
  font-size: 30px;
  font-weight: 620;
}

.w-80 {
  height: 350px;
  /* width: 60vw; */
}

#caption-container {
  position: absolute;
  width: 250px;
  border-radius: 50px;
  right: 0;
  bottom: 60px;
}

@media screen and (min-width: 800px) {
  #caption-container {
    margin-right: 90px;
    opacity: 0.8;
    width: 40%;
    bottom: 100px;
    right: 0px;
    text-align: center;
    justify-content: center;
  }
  .w-80 {
    width: 600px;
  }
}
@media screen and (max-width: 800px) {
  #caption-container {
    margin: auto;
    right: 0;
    left: 0;
  }
  .w-80 {
    margin: auto;
    width: 100%;
  }
}

.fv-container {
  position: relative;
  top: 10px;

  width: 100%;
  height: 350px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  border: solid #bdbdbd 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.fv-container > div {
  position: relative;
  border-radius: 10px;
  margin: 30px;
  width: 250px;
  height: 220px;
  align-items: center;
  flex: 1;
  justify-content: center;
  background: rgb(176, 191, 182);
  border: solid #bdbdbd 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.fv-container > div > img {
  width: 90%;
  height: 50%;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
}
h2 {
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .fv-container > div {
    top: 10px;
    width: 100px;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .fv-container {
    height: 400px;
  }
  .fv-container > div > img {
    height: 200px;
  }
}
